# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Supabase Storage Bucket
NEXT_PUBLIC_SUPABASE_BUCKET=studio_upnexx

# Storage Folders
NEXT_PUBLIC_IMAGES_FOLDER=images
NEXT_PUBLIC_VIDEOS_FOLDER=videos
